{% extends "base.html" %}

{% block head %}
<title>Batch Model App</title>
{% endblock %}

{% block content %}

<div class="container">

    <label for="AddFileForm">Загрузите файл (json) с данными для расчёта</label>

    <form method=post enctype=multipart/form-data>
        <div class="form-group">
            <input type=file class="form-control-file" name=file>
        </div>
        
        <input type="submit" class="btn btn-success" name='calc' value=Paсчёт>
        <input type="submit" class="btn btn-warning" name='change' value=Изменить>
    </form>

</div>

{% endblock %}
